.sfondo{
    background-color: #FFFEFE !important;
    width: 100%;
    padding:1.5%;
    margin-left: 20%;
}

.arrotondato{
    border: 1px solid grey;
    border-radius: 15px;
    margin: 0.5%;
    margin-top: 0.5px;
    padding: 1%;
    display: inline-block;
    height: 80vh;
    width: 85%;
}


.sezione-interna-dettagli-offerta{
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 0.5%;
    padding-top: 1% !important;
    height:70vh;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-left: 2% !important;
    font-size: 0.8rem;
}
.bottone_dettagli{
    width: 120%;
    height: 180%;
    padding: 1%;
    margin: 0.5%;
    font-size: 0.95rem;
}
.valori-proposta{
    font-size: 0.86rem;
    font-weight: 500;
}